.stadion {
    position: relative;
    width: 500px;
    height: 400px;
    background-color: forestgreen;
    border: 3px solid black;
}
.ball {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    left: 0;
    top: 0;
    transition: all 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}


h3 {
    margin: 0;
    padding-bottom: .3em;
    font-size: 1.1em;
  }
  
  p {
    margin: 0;
    padding: 0 0 .5em;
  }
  
  .pane {
    position: relative;
    background: #edf5e1;
    padding: 10px 20px 10px;
    border-top: solid 2px #c4df9b;
    transition: all 1s ease-in-out;
  }
  
  .remove-button {
    position: absolute;
    font-size: 110%;
    color: darkred;
    right: 10px;
    width: 24px;
    height: 24px;
    border: none;
    background: transparent;
    cursor: pointer;
  }
  @keyframes delete {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
  }